body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f9e000;
}

button {
  border: none;
  outline-style: none;
  cursor: pointer;
}

.frame {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.logo {
  width: 150px;
  margin: 48px 0 24px 0;
}

.input-layout {
  text-align: center;
}
#userid,
#password {
  width: 230px;
  height: 30px;
  border: none;
}

.login-btn {
  margin: 6px 0;
  padding: 0;
  width: 234px;
  height: 35px;
  padding: 2px;
  color: #999;
}

.checkbox {
  margin-bottom: 100px;
  float: left;
  padding-left: 30px;
  color: #7f7218;
  font-size: 12px;
}

.find-account {
  display: flex;
  align-items: center;
}

.find-account :is(button) {
  background-color: transparent;
  color: #7f7218;
}

.outline {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #e7d52e;
}
